{% extends "template/base.html" %}

{% block main %}
<!-- search bar -->
<div class='container-fluid'>
  <center>
    <form id='search' role='form' method='GET' action='/'>
    <div class='col-lg-5'>
      {% if query  %}
        <input style="width:30%" type="text" name="q" value="{{ query }}">
      {% else %}
        <input style="width:30%" type="text" name="q" placeholder=" query">
      {% endif %}
        <input class='btn btn-success' type='submit' value='Search'>
    </div>
    </form>
  </center>
</div>
<p>&nbsp;</p>
<!-- search result -->
<div class='container' style='float:left;width:5%'>&nbsp;</div>
<div class='container' style="float:left;width:45%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Search Result</strong></td>
      </tr>
    </thead>
    <tbody>
      {% for movie in search_result %}
        <tr><td>
          <div style="float:left;width:85%">
            <a href="{{ movie[0] }}">{{ movie[1] }}</a> ( id:{{ movie[2]}} ) <br> {{ movie[3]|safe }} 
            <form id='{{ movie[2] }}' method='POST' action='/review'>
            <input type='hidden' name='mid' value='{{ movie[2] }}}'>
            <input type='hidden' name='title' value='{{ movie[1] }}'>
            <a href="javascript:{}" onclick="document.getElementById('{{ movie[2] }}').submit();">review it</a>
            </form>
          </div> 
          <div style="float:left;width:15%">
            <img src="{{ movie[4] }}" stype="width:100%" >
          </div>
        </td></tr>
      {% endfor %}
      <!--
      <tr><td align="center">
        <form id='s_avatar' method='POST' action='/review'>
        <input type='hidden' name='mid' value='87833'>
        <input type='hidden' name='title' value='avatar'>
        <a href="javascript:{}" onclick="document.getElementById('s_avatar').submit();">Avatar</a>
        </form>
      </td></tr>
      -->
      
    </tbody>
  </table>
</div>
<!-- recommand result -->
<div class='container' style="float:left;width:45%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Best for You</strong></td>
      </tr>
    </thead>
    <tbody>
      {% for movie in recom_genre %}
        <tr><td>
          <div style="float:left;width:85%">
            <a href="{{ movie[0] }}">{{ movie[1] }}</a> <br> 
            ( id: {{ movie[2]}}, rating: {{ movie[3]|safe }} )
            <form id='{{ movie[2] }}' method='POST' action='/review'>
            <input type='hidden' name='mid' value='{{ movie[2] }}}'>
            <input type='hidden' name='title' value='{{ movie[1] }}'>
            <a href="javascript:{}" onclick="document.getElementById('{{ movie[2] }}').submit();">review it</a>
            </form>
          </div> 
          <div style="float:left;width:15%">
            <img src="{{ movie[4] }}" stype="width:100%" >
          </div>
        </td></tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Recommanded</strong></td>
      </tr>
    </thead>
    <tbody>

      {% for movie in recom_normal %}
        <tr><td>
          <div style="float:left;width:85%">
            <a href="{{ movie[0] }}">{{ movie[1] }}</a> <br> 
            ( id:{{ movie[2]}} ) {{ movie[3]|safe }} 
            <form id='{{ movie[2] }}' method='POST' action='/review'>
            <input type='hidden' name='mid' value='{{ movie[2] }}}'>
            <input type='hidden' name='title' value='{{ movie[1] }}'>
            <a href="javascript:{}" onclick="document.getElementById('{{ movie[2] }}').submit();">review it</a>
            </form>
          </div> 
          <div style="float:left;width:15%">
            <img src="{{ movie[4] }}" stype="width:100%" >
          </div>
        </td></tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
