{% extends "template/base.html" %}

{% block main %}
<!-- search bar -->
<div class='container-fluid'>
  <center>
    <form id='search' role='form' method='GET' action='/'>
    <div class='col-lg-5'>
      {% if query  %}
        <input style="width:30%" type="text" name="q" value="{{ query }}">
      {% else %}
        <input style="width:30%" type="text" name="q" placeholder=" query">
      {% endif %}
        <input class='btn btn-success' type='submit' value='Search'>
    </div>
    </form>
  </center>
</div>
<p>&nbsp;</p>
<!-- search result -->
<div class='container' style='float:left;width:10%'>&nbsp;</div>
<div class='container' style="float:left;width:40%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Search Result</strong></td>
      </tr>
    </thead>
    <tbody>

      <tr><td align="center">
        <form id='s_hunger game' method='POST' action='/review'>
        <input type='hidden' name='mid' value='83773'>
        <input type='hidden' name='title' value='hunger game'>
        <a href="javascript:{}" onclick="document.getElementById('s_hunger game').submit();">Hunger Game</a>
        </form>
      </td></tr>

      <tr><td align="center">
        <form id='s_avatar' method='POST' action='/review'>
        <input type='hidden' name='mid' value='87833'>
        <input type='hidden' name='title' value='avatar'>
        <a href="javascript:{}" onclick="document.getElementById('s_avatar').submit();">Avatar</a>
        </form>
      </td></tr>
      
    </tbody>
  </table>
</div>
<!-- recommand result -->
<div class='container' style="float:left;width:40%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Best for You</strong></td>
      </tr>
    </thead>
    <tbody>

      <tr><td align="center">
        <form id='b_hunger game' method='POST' action='/review'>
        <input type='hidden' name='mid' value='83773'>
        <input type='hidden' name='title' value='hunger game'>
        <a href="javascript:{}" onclick="document.getElementById('b_hunger game').submit();">Hunger Game</a>
        </form>
      </td></tr>

      <tr><td align="center">
        <form id='b_avatar' method='POST' action='/review'>
        <input type='hidden' name='mid' value='87833'>
        <input type='hidden' name='title' value='avatar'>
        <a href="javascript:{}" onclick="document.getElementById('b_avatar').submit();">Avatar</a>
        </form>
      </td></tr>

    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <td align="center"><strong>Recommanded</strong></td>
      </tr>
    </thead>
    <tbody>

      <tr><td align="center">
        <form id='r_hunger game' method='POST' action='/review'>
        <input type='hidden' name='mid' value='83773'>
        <input type='hidden' name='title' value='hunger game'>
        <a href="javascript:{}" onclick="document.getElementById('r_hunger game').submit();">Hunger Game</a>
        </form>
      </td></tr>

      <tr><td align="center">
        <form id='r_avatar' method='POST' action='/review'>
        <input type='hidden' name='mid' value='87833'>
        <input type='hidden' name='title' value='avatar'>
        <a href="javascript:{}" onclick="document.getElementById('r_avatar').submit();">Avatar</a>
        </form>
      </td></tr>

    </tbody>
  </table>
</div>

{% endblock %}
